.dark {
    background: dimgrey;
    height: 200px;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
    height: 200px;

}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
    height: 200px;
}

.some-text {
    color: darkslateblue;
}