



.main_block{
    width: 600px;
    margin: 100px auto;

}

.text_block{
    width: 200px;
    margin: 0 auto;
    position: relative;
}

.text_input{
    margin-left: -34px;
    margin-bottom: 20px;
}

.button_block{
text-align: center;




}