.superInput {

}
.main_block{
    display: flex;
    flex-direction: column;
}
.errorInput {
    border: solid 1px black;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;

}
.className{
    height: 25px ;
}


.spanClassName{

}

.error {
    color: red;
    font-size: 20px;
}

