


.container_main{
    height: 150px;


}

.container_flex{
    display: flex;
    text-align: center;
    justify-content: center;
}

.radio_container{
    margin-left: 50px;
    margin-bottom: 100px;
}